.tileWrapper
{
    display:flex;
    flex-direction: column;
    background-color: #262633 ;
    width: 350px;
    font-family: 'Roboto', sans-serif;
    padding : 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: 1px solid transparent;
    user-select: none;
    cursor: pointer;
    //border-radius: 5px;
    &>.row 
    {
        display: flex;
        flex-direction: row;
        margin:5px;

        &>.labelValue
        {
            font-weight: bold;
            color:#D9C65F;
            width: 100px;
        }
        &>.inputValue{
            margin-left:5px;
            color:#58BDE7;
        }

    }
    &:hover {
       border: 1px solid #D9C65F;
    }

}

:host
{
    margin:10px;
}